.catalog__title {
  font-size: 36px;
  line-height: 60px;
  position: relative;
  font-weight: normal;
  margin-top: 15px;
}

.catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.catalog__item {
  margin-bottom: 21px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -20px;
    width: 100vw;
    height: 1px;
    background-color: #ededed;
  }
}

.catalog-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.catalog-card--more br {
  display: none;
}

.catalog-card__right-column {
  text-align: right;
}

.catalog-card--more {
  padding-top: 25px;
  justify-content: center;
}

.catalog-card__table {
  border-collapse: collapse;
  width: 140px;
}

.catalog-card__table br {
  display: none;
}

.catalog-card__title {
  text-transform: uppercase;
  width: 75px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

.catalog-card__img {
  width: 140px;
  height: 144px;
}

.catalog-card__table td {
  width: 100%;
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-card__show {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 53px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.catalog-card__text {
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 20px;
  transform: translateY(-5px);
}

.catalog-card__btn {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 5px;
  margin-top: -1px;
}

.catalog__btn--more {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: @tablet-width) {
  tbody {
    width: 100%;
  }

  .catalog__title {
    margin-bottom: 166px;
    margin-top: 54px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .catalog__item {
    box-sizing: border-box;
    min-height: 430px;
    width: 324px;
    margin-right: 50px;
    background-color: #f2f2f2;
    padding: 0 37px;
    border: none;
    margin-bottom: 140px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      background-color: #ffffff;
      border: 2px solid #e6e6e6;
    }

    &::before {
      display: none;
    }
  }

  .catalog-card {
    flex-direction: column;
    transform: translateX(-17px);
  }

  .catalog-card--more {
    /*padding-top: 50px;*/
    text-align: center;
  }

  .catalog-card__show {
    font-size: 20px;
    padding-top: 155px;
    margin-bottom: 21px;
    transform: translate(16px, -15px);

    &::before {
      top: 50%;
      width: 60px;
      height: 60px;
      margin-left: -28px;
      margin-top: -52px;
      background-image: url("../img/icon-plus.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  .catalog-card__text {
    margin: 0;
    font-size: 16px;
    margin-bottom: 80px;
    transform: translate(15px, -9px);
  }

  .catalog-card__title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 18px;
  }

  .catalog-card__title br,
  .catalog-card--more br {
    display: block;
  }

  .catalog-card__table {
    width: 100%;
    margin-bottom: 30px;
  }

  .catalog-card__table tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-card__table td {
    padding: 8px 0;
    font-size: 16px;
  }

  .catalog-card__img {
    width: 320px;
    height: 174px;
    margin-left: -35px;
    margin-top: -45px;
    margin-bottom: 30px;
    transform: translateX(18px);
  }

  .catalog-card__img--big {
    height: 208px;
    margin-top: -80px;
  }

  .catalog-card__btn {
    margin-bottom: 0;
  }

  .catalog__btn--more {
    transform: translateX(19px);
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 250px;
    margin-right: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .catalog-card__img {
    width: 245px;
  }

  .catalog__title {
    margin-top: 70px;
  }

  .catalog-card__btn {
    width: 170px;
  }
}
