.catalog__title {
  font-size: 36px;
  line-height: 60px;
}

.catalog__list {
  list-style: none;
}

.catalog-card__table th {
  font-size: 16px;
  line-height: 20px;
}

.catalog-card__table td {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog__show {
  font-size: 16px;
  line-height: 20px;
}

.catalog__text {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
