.contacts__legend {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}

.contacts__email,
.contacts__phone {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__label--email {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -215px;
    width: 17px;
    height: 13px;
    margin-top: -6.5px;
    background-image: url("../img/icon-mail.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.contacts__label--phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -200px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background-image: url("../img/icon-phone.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .contacts__label--email {
    &::after {
      right: -630px;
    }
  }

  .contacts__label--phone {
    &::after {
      right: -618px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts__legend {
    width: 100%;
  }

  .contacts__label--email {
    &::after {
      right: -450px;
    }
  }

  .contacts__label--phone {
    &::after {
      right: -430px;
    }
  }

  .form__comment {
    width: 100%;
  }
}
