.example {
  padding: 15px 0 30px;
  /*background: linear-gradient(to right, #f2f2f2 49%, #eaeaea 49%);*/
  background-color: #f2f2f2;
}

.example__tabs {
  margin: 0 auto;
}

.example__image {
  width: 320px;
  height: 240px;
  display: block;
  margin-top: 35px;
  margin-bottom: 33px;
  margin-left: -60px;
}

.example__image--after {
  display: none;
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 23px;
}

.example__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  margin-bottom: 23px;
  max-width: 270px;
}

.example__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__result {
  position: relative;
  box-sizing: border-box;
  padding-top: 16px;
  width: 125px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  min-height: 56px;
  /*padding: 16px 0;*/
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__total {
  position: absolute;
  width: 88px;
  bottom: -18px;
  left: 18px;
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  color: #444444;
  background-color: #f2f2f2;
  vertical-align: bottom;
}

.example__cost {
  font-family: @oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 37px;
}

.example__switcher {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.example__slider {
  box-sizing: border-box;
  position: relative;
  width: 85px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #ffffff;
}

.example__slider span {
  position: absolute;
  display: block;
  top: 50%;
  left: 5px;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 5px;
  margin-top: -3px;
  transition: 0.4s;
}

.example__toggle--before {
  transform: translateX(-8px);
}

.example__switcher input {
  display: none;
}

.example__switcher input:checked + .example__slider span {
  transform: translateX(39px);
}

.example__switcher input:checked ~ .example__image--before {
  display: none;
}

.example__switcher input:checked ~ .example__image--after {
  display: block;
}

.example__comparison {
  display: none;
  padding-bottom: 20px;
  margin-top: 250px;
  /*background: linear-gradient(to right, #f2f2f2 49%, #eaeaea 49%);*/
}

.example__photos {
  position: relative;
  width: 708px;
  min-height: 460px;
  margin: 0 auto;
}

.example__photo-before,
.example__photo-after {
  position: absolute;
  top: -170px;
  left: 10px;
}

.example__photo-before {
  z-index: 20;
  clip: rect(auto, 345px, auto, auto);
}

.example__photo-after {
  clip: rect(auto, auto, auto, 345px);
}

.example__range {
  position: absolute;
  top: 372px;
  width: 570px;
  left: 50%;
  margin-left: -285px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example__scale {
  position: relative;
  width: 425px;
  height: 6px;
  background-color: #dcdcdc;
  border-radius: 5px;
}

.example__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -17px;
  width: 34px;
  height: 34px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:active {
    border-color: #68b738;
  }

  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

.example__button {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #bebebe;
  padding: 0;
  padding-bottom: 6px;
}

@media (min-width: @tablet-width) {
  .example__tabs {
    display: none;
  }

  .example {
    background: linear-gradient(to bottom, #ffffff calc(52% + 38px), #eaeaea 52%);
    margin-top: -43px;
    padding-bottom: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
    margin-bottom: 55px;
    max-width: 100%;
  }

  .example__cost {
    font-size: 20px;
    width: 176px;
    margin-left: 110px;
    margin-top: 10px;
    transform: translateX(19px);
  }

  .example__cost span {
    display: block;
    transform: translate(85px, 7px);
  }

  .example__result {
    font-size: 30px;
    line-height: 37px;
    width: 162px;
    margin-right: 40px;
    padding: 0;
    padding-bottom: 17px;
    padding-top: 12px;
  }

  .example__total {
    width: auto;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    bottom: -7px;
    left: 8px;
    padding: 0 10px;
  }

  .example__total--weight {
    left: 20px;
  }

  .example__total br {
    display: none;
  }

  .example__comparison {
    position: relative;
    display: block;
    min-height: 462px;
    padding-bottom: 5px;
    background: linear-gradient(to right, #f2f2f2 49%, #eaeaea 49%);

    &::before {
      content: "";
      position: absolute;
      width: 50vw;
      height: 100%;
      top: 0;
      left: -30px;
      background-color: #f2f2f2;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(to right, #f2f2f2 calc(72% + 25px), #eaeaea 72%);
    margin-top: 127px;
    padding: 0;
  }

  .example__results {
    width: 370px;
  }

  .example__range {
    top: 365px;
  }

  .example__result {
    margin: 0;
    height: 70px;
    /*margin-top: -5px;*/
  }

  .example__total {
    bottom: -6px;
    background-color: #f2f2f2;
  }

  .example__intro,
  .example__comparison {
    width: 570px;
  }

  .example__intro {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .example__title {
    /*margin-bottom: 140px;*/
    position: absolute;
    top: -160px;
    margin: 0;
    margin-top: 25px;
  }

  .example__text {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 435px;
  }

  .example__cost {
    margin: 0;
    margin-top: 60px;
    width: auto;
    transform: translateX(-1px);
  }

  .example__cost span {
    transform: translate(240px, -20px);
  }

  .example__comparison {
    margin-top: 0;
    background: none;

    &::before {
      display: none;
    }
  }

  .example__photos {
    width: auto;
    margin: 0;
    background: none;
  }

  .example__photo-before,
  .example__photo-after {
    margin-top: -22px;
    width: 690px;
    height: 517px;
    transform: translateX(-90px);
  }

  .example__photo-before {
    clip: rect(auto, 365px, auto, auto);
  }

  .example__photo-after {
    clip: rect(auto, auto, auto, 365px);
  }
}
