.features__title {
  font-size: 36px;
  line-height: 60px;
}

.features__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.features__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
