.features__title {
  font-size: 36px;
  line-height: 60px;
}

.features__list {
  list-style: none;
}

.features__text {
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
