.form {
  margin-bottom: 35px;
  overflow: hidden;
}

.form__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-top: 15px;
  margin-bottom: 25px;
}

.form__text {
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.form__fieldset {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.form__personal,
.form__proggrams {
  margin-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    bottom: -9px;
    right: 0;
    width: 100vw;
    height: 1px;
    background-color: #ededed;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #ededed;
  }
}

.form__contacts,
.form__comment {
  margin-bottom: 13px;
}

.form__comment {
  margin-bottom: 31px;
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.form__item--radio {
  margin-bottom: 25px;
}

.form__radio {
  display: none;
}

.form__btn {
  text-align: center;
  margin-bottom: 22px;
  margin-top: 14px;
  padding: 10px 0;
}

.form__small {
  font-family: @arial;
  font-size: 14px;
  line-height: 16px;
  display: block;
  color: #444444;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 50px;
  }

  .form__wrapper {
    padding: 0 40px;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-left: -40px;
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .form__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
  }

  .form__comment {
    margin-bottom: 0;
  }

  .form__personal,
  .form__proggrams {
    &::after,
    &::before {
      display: none;
    }
  }

  .form__personal {
    margin-bottom: 62px;
  }

  .form__proggrams {
    border: 1px solid #e6e6e6;
    padding: 25px 0 0 20px;
    margin-bottom: 80px;
  }

  .form__contacts {
    margin-bottom: 70px;
  }

  .form__item {
    margin-bottom: 25px;
  }

  .form__item--radio {
    margin-bottom: 34px;
  }

  .form__item--checkbox {
    width: 50%;
    margin-bottom: 41px;
  }

  .fieldset-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fieldset-wrapper--contacts {
    flex-direction: column;
  }

  .form__submit {
    display: flex;
    align-items: center;
  }

  .form__small {
    font-size: 16px;
    line-height: 16px;
    margin-top: -10px;
  }

  .form__btn {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin-right: 62px;
    min-height: 52px;
    padding: 0;
    padding-top: 15px;
    transform: translate(1px, 0);
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin-bottom: 50px;
  }

  .form__wrapper {
    padding: 0;
  }

  .form__title {
    margin-left: 0;
    margin-top: 70px;
  }

  .form__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__personal,
  .form__proggrams {
    width: 47%;
  }

  .form__contacts {
    width: 100%;
  }

  .form__item--contacts {
    width: 44%;
  }

  .fieldset-wrapper--contacts {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__item--checkbox {
    width: 245px;
    margin-right: 0;
  }

  .form__btn {
    width: 570px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin-bottom: 70px;
  }

  .form__item {
    margin-bottom: 20px;
    width: 570px;
  }

  .form__item--checkbox {
    width: 20%;
    margin-right: 80px;

    &:last-child {
      margin-right: 0;
    }
  }

  .form__item--radio {
    margin-bottom: 34px;
  }

  .form__proggrams {
    padding-left: 0;
    padding-top: 30px;
  }

  .form__contacts {
    margin-bottom: 74px;
  }

  .form__btn {
    margin-top: 44px;
    margin-right: 82px;
    width: 568px;
  }

  .form__small {
    margin-top: 18px;
  }
}
