.invite__address {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.invite__wrapper--catalog,
.invite__wrapper--form {
  background-color: #f2f2f2;
}

.invite__text-dillers {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  margin: 0;
}

.invite__text-adress {
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  width: 140px;
  margin: 0;
}

.invite__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: @desktop-width) {
  .invite {
    position: relative;
  }

  .invite__address {
    box-sizing: border-box;
    position: absolute;
    top: 90px;
    left: 110px;
    width: 570px;
    background-color: #ffffff;
    padding: 60px 80px;
  }

  .invite__text-dillers,
  .invite__text-adress {
    margin: 0;
  }

  .invite__text-dillers {
    font-size: 20px;
    line-height: 25px;
  }

  .invite__text-adress {
    font-size: 16px;
  }
}
