
@import "button.less";
@import "catalog.less";
@import "example.less";
@import "features.less";
@import "invite.less";
@import "page-footer.less";
@import "present.less";
@import "programms.less";
@import "site-list.less";
@import "variables.less";
@import "fonts.less";
@import "visually-hidden.less";
@import "copyright.less";

body {
  font-family: @oswaldRegular;
  min-width: 320px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}
